{% extends './base.html' %} {% block page-title %}Virtual Waitress Cook View{% endblock %} {% block head-script %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> {% endblock %}

{% block register-on-load-scripts %}

{% endblock register-on-load-scripts %}
{% block central-content %}
<main style="align-content: center;">
    <div class="card border-primary mb-3" style="min-width: 95%; overflow-y: auto; margin: 20px;">
        <div class="card-header">Cook Work Queue</div>

        {% for order in orders %}
        <div class="card border-primary mb-3" style="max-width: 90%;  margin:auto;">
            <div class="card-header">Details for Order {{ order.orderNumber }}. Order placed {{ order.dateCreated|timesince }} ago</div>
            <div class="card-body">
                <table class="table table-hover" style=" min-width: 800px;">
                    <thead>
                        <tr>
                            <th scope="col" style="width:80px">Select</th>
                            <th scope="col" style="width:200px">Food Item</th>
                            <th scope="col" style="width:55px">QTY</th>
                            <th scope="col">Custom</th>
                            <th scope="col" style="width:100px">Finish</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.entry_set.all %}
                        {% if not item.ready %}
                        <tr>
                            {% else %}
                            <tr class="table-success">
                                {% endif %}
                                
                                <td>
                                    <input type="radio" name="orderselector" value="{{ item.id }}" onchange="displayDetails( {{ item.id }} )">
                                </td>
                                <td>{{ item.food }}</td>
                                <td>{{ item.qty }}</td>
                                <td>{{ item.note|truncatewords:5 }}</td>
                                <td>
                                    {% if item.ready %}
                                    <span>Finished</span>
                                    {% else %}
                                    <form action="{% url 'virtual_waitress:entry_update' item.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-primary btn-sm" value="Item Ready">
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <p>No Order Data for This Order</p>
                        {% endfor %}

                    </tbody>
                </table>
                <div class="text-muted" id="Order{{ order.id }}" onload="initializeClock(this, {{ order.dateCreated }} )">
                    <p>Time Remaining:</p>
                    <div>
                        <span class="minutes"></span>
                        <div class="smalltext">Minutes</div>
                    </div>
                    <div>
                        <span class="seconds"></span>
                        <div class="smalltext">Seconds</div>
                    </div>
                </div>
                <form action="{% url 'virtual_waitress:order_update' order.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-lg" value="Complete Order">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

<aside>
{% for order in orders %}
    {% for item in order.entry_set.all %}
    <div class="card border-info mb-3" style="max-width: 90%;  margin:auto; display:none;", id="OrderItem{{ item.id }}">
        <div class="card-header">Details for {{ item.menu_item }} on order {{ item.order }}</div>
        <div class="card-body">
            <h4 class="card-title">Recipe</h4>
            {% lorem 3 p %}
            <h4 class="card-title">Customer Notes</h4>
            <p class="card-text">{{ item.note|linebreaks }}</p>
        </div>
    </div>
    {% empty %}
    <p>No entries to display details on for order {{ order.orderNumber }}</p>
    {% endfor %}
{% empty %}
<p>No Orders to Display</p>
{% endfor %}
    
</aside>
{% endblock %} {% block body-end-script %}
<script>

    var previouslyDisplayed = null
    function displayDetails(orderItemId){
        if (previouslyDisplayed != null) {
            previouslyDisplayed.style.display = "none"
        }
        
        let htmlID = "OrderItem" + orderItemId
        let toDisplay = document.getElementById(htmlID)
        toDisplay.style.display="block"

        previouslyDisplayed = toDisplay
    }
    
    // Code adapted from https://www.sitepoint.com/build-javascript-countdown-timer-no-dependencies/
    function getTimeRemaining(endtime) {
        let t = Date.parse(endtime) - Date.parse(new Date());
        let seconds = Math.floor((t / 1000) % 60);
        let minutes = Math.floor((t / 1000 / 60) % 60);
        let hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        let days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
          'total': t,
          'days': days,
          'hours': hours,
          'minutes': minutes,
          'seconds': seconds
        };
      }
      
      function initializeClock(id, starttime) {
        let deadline = new Date(Date.parse(starttime) + 10 * 60 * 1000);
        let clock = document.getElementById(id);
        let minutesSpan = clock.querySelector('.minutes');
        let secondsSpan = clock.querySelector('.seconds');
      
        function updateClock() {
          let t = getTimeRemaining(deadline);
      
          daysSpan.innerHTML = t.days;
          hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
          minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
          secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
      
          if (t.total <= 0) {
            clearInterval(timeinterval);
          }
        }
      
        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
      }

</script> {% endblock %}