{% extends "./base.html" %} {% block page-title %}Virtual Waitress Manager{% endblock page-title %} {% block page-style %}
{{ block.super }}
<style>
	.banner {
		font-weight: 900;
		margin: 2px;
		border-style: solid;
		border-color: black;
		background-color: rgb(102, 153, 255);
	}

	.FlexDiv {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.card {
		padding: 25px;
	}

	/* Tooltip container */

	.tooltip {
		position: relative;
		display: inline-block;
		border-bottom: 1px dotted black;
		/* If you want dots under the hoverable text */
	}

	/* Tooltip text */

	.tooltip .tooltiptext {
		visibility: visible;
		width: 120px;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 5px 0;
		border-radius: 6px;
		opacity: 0;

		/* Position the tooltip text - see examples below! */
		position: absolute;
		z-index: 1;
	}

	/* Show the tooltip text when you mouse over the tooltip container */

	.tooltip:hover .tooltiptext {
		visibility: visible;
	}
</style>
{% endblock page-style %} {% block register-on-load-scripts %}
<script>
	window.onload = function () {
		//loadBanner();
		//getMoney();
		getTableData();
		getEntryData();
		getMenu();
	}
</script> {% endblock register-on-load-scripts %} {% block head-script %}
<script>
	var salesMoney = 435.68;
	var dailySales = "Daily Sales: $" + salesMoney;
	var tableData = JSON.parse('{{ tableData|escapejs }}');
	var menuData = JSON.parse('{{ comboItemsMenu|escapejs }}');
	var entryData = JSON.parse('{{ entryData|escapejs }}');
	console.log(tableData);
	console.log(menuData);
	console.log(entryData);
	//var tableRow1 = [["0001", 13.50, "L4", 'N', 'N', "3:47"], ["0001", 13.50, "L4", 'N', 'N', "3:47"], ["0001", 13.50, "L4", 'N', 'N', "3:47"]
	//	, ["0001", 13.50, "L4", 'N', 'N', "3:47"], ["0001", 13.50, "L4", 'N', 'N', "3:47"], ["0001", 13.50, "L4", 'N', 'N', "3:47"]];
	var tableSize = 6;


	function getMoney() {
		document.getElementById("salesNumber").innerHTML = dailySales;
	}

	function getMenu() {
		var temp1 = document.getElementById("menuItem");
		for (var j = 0; j < menuData.length; j++) {
			var temp2 = document.createElement("option");
			temp2.text = menuData[j].menuItem;
			temp1.add(temp2);
		}
	}

	function tooltip(){
		var text = document.getElementById("tip");
		text.style.opacity = 1;
	}

	function tooltipOut(){
		var text = document.getElementById("tip");
		text.style.opacity = 0;
	}

	function getEntryData() {
		var temp1 = document.getElementById("table2");
		for (var k = 0; k < entryData.length; k++) {
			var temp2 = document.createElement("TR");
			temp1.appendChild(temp2);

			var temp3 = document.createElement("TD");
			temp3.innerHTML = entryData[k].order_id;
			temp2.appendChild(temp3);
			temp3 = document.createElement("TD");
			temp3.innerHTML = entryData[k].id;
			temp2.appendChild(temp3);
			temp3 = document.createElement("TD");
			temp3.innerHTML = entryData[k].foodName;
			temp2.appendChild(temp3);
			temp3 = document.createElement("TD");
			temp3.innerHTML = entryData[k].qty;
			temp2.appendChild(temp3);
			temp3 = document.createElement("TD");
			temp3.innerHTML = entryData[k].note;
			temp2.appendChild(temp3);
			temp3 = document.createElement("TD");
			temp3.innerHTML = entryData[k].ready;
			temp2.appendChild(temp3);
		}
	}

	function getTableData() {
		var temp1 = document.getElementById("table1");
		for (var j = 0; j < tableData.length; j++) {
			var temp2 = document.createElement("TR");
			temp1.appendChild(temp2);

			var temp3 = document.createElement("TD");
			temp3.innerHTML = tableData[j].orderNumber;
			temp2.appendChild(temp3);
			temp3 = document.createElement("TD");
			temp3.innerHTML = tableData[j].id;
			temp2.appendChild(temp3);
			temp3 = document.createElement("TD");
			temp3.innerHTML = tableData[j].total;
			temp2.appendChild(temp3);
			temp3 = document.createElement("TD");
			temp3.innerHTML = tableData[j].table;
			temp2.appendChild(temp3);

			temp3 = document.createElement("TD");
			temp3.innerHTML = tableData[j].ready;
			temp2.appendChild(temp3);
			temp3 = document.createElement("TD");
			temp3.innerHTML = "00:00:00";
			temp2.appendChild(temp3);

		}
	}

</script> {% endblock head-script %} {% block central-content %}

<div class="card border-primary mb-3" style="max-width: 90%; margin:auto; margin-bottom: 10%; padding: 0px">
	<div class="card-header" style="width: 100%;">Current Orders</div>
	<div class="card-body">
		<div style="background-color: red;">
			<table id="table1" class="table table-primary">
				<tr class="table-info">
					<th>Order Number</th>
					<th>PK</th>
					<th>Price</th>
					<th>Table</th>
					<!-- As a waiter / waitress I need to identify which table / location an order relates to -->
					<!--<th>Needs Service?</th>-->
					<!-- As a waiter / waitress I need to know what locations / tables have service requests -->
					<th>Food Ready?</th>
					<th>Time Elapsed
						<th>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="card border-primary mb-3" style="max-width: 90%; margin:auto; margin-top: 10%; margin-bottom: 10%; padding: 0px;">
	<div class="card-header" style="width: 100%">In The Kitchen</div>
	<div class="card-body">
		<div style="background-color: red;">
			<table id="table2" class="table table-primary">
				<tr class="table-info">
					<th>PK</th>
					<th>ID</th>
					<th>Food</th>
					<th>qty</th>
					<th>note</th>
					<th>ready?</th>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="card border-primary mb-3" style="max-width: 90%; margin: auto; align-content: center; padding: 0px;">
	<div class="card-header">Manager Controls</div>
	<div class="card-body">
		<div class="FlexDiv" style="align-content: center">
			<!-- adjust order price -->
			<div class="card border-primary mb-3" style="width: 33%; padding: 0px;">
				<form action="" method="post">
					{% csrf_token %}
					<div class="card-header" style="margin-bottom: 10px;">1. Change Order Price</div>
					<table>
						<tr>
							<th><label for="id_badOrder">Order (Use Order Number): </label></th>
							<th><label for="id_newPrice">New price: </label></th>
						</tr>
						<tr>
							<td><input type="number" name="badOrder" id="id_badOrder" required /></td>
							<td><input type="number" name="newPrice" id="id_newPrice" required step="any" /></td>
						</tr>
					</table>
				<input type="submit" name="adjustPriceSubmit" value="Submit">
				</form>
			</div>
			<!-- As a waiter / waitress, I would like to split or combine different bills -->
			<div class="card border-primary mb-3" style="width: 33%; padding: 0px;">
				<form action="">
					<div class="card-header" style="margin-bottom: 10px;">2. Split Bill</div>
					<table>
						<tr>
							<th>
								<label for="blah2">Order Number:</label>
							</th>
							<td>
								<input type="text" name="splitBillOrderNumber">
							</td>
						</tr>
					</table>
					<input type="submit" name="splitBillSubmit" value="Submit" onmouseover="tooltip()" onmouseout="tooltipOut()">
					<div class="tooltip" style="opacity: unset">
						<span class="tooltiptext" id="tip">Not yet implemented</span>
					</div>
				</form>
			</div>

			<div class="card border-primary mb-3" style="width: 33%; padding: 0px; margin-bottom: 20px; padding-bottom: 20px">
				<div class="card-header" style="margin-bottom: 10px;">3. Add menu item</div>
				<!-- As a manager, I would like to delete, create, and manage menu items-->
				<form action="" method="post">
					{% csrf_token %}
					<table>
						<tr>
							<th>
								<label for="id_menuItem">Menu Item:</label>
							</th>
							<td>
								<input type="text" name="menuItem" maxlength="60" required id="id_menuItem" />
							</td>
						</tr>
						<tr>
							<th>
								<label for="id_menuDescription">Menu Description:</label>
							</th>
							<td>
								<input type="text" name="menuDescription" maxlength="400" required id="id_menuDescription" />
							</td>
						</tr>
						<tr>
							<th>
								<label for="id_menuPrice">Menu Price:</label>
							</th>
							<td>
								<input type="number" name="menuPrice" step="any" required id="id_menuPrice" />
							</td>
						</tr>

					</table>
					<input type="submit" name="newMenuItemSubmit" value="Submit">
				</form>
			</div>
			<div class="card border-primary mb-3" style="width: 33%; padding: 0px; margin-bottom: 20px; padding-bottom: 20px">
				<form action="" method="post">
					{% csrf_token %}
					<div class="card-header" style="margin-bottom: 10px;">4. Remove Menu item</div>
					<table>
						<tr>
							<th>
								<label for="blah4">Target item:</label>
							</th>
							<td>
								<select name="removeItem" id="menuItem"></select>
							</td>
						</tr>
					</table>
					<input type="submit" name="removeItemSubmit" value="Submit">
				</form>
			</div>
			<!-- As a manager, I need to be able to override details about an open order (menu items, price, location, etc.) 
			
			<div class="card border-primary mb-3" style="width: 33%; padding: 0px">
				<div class="card-header" style="margin-bottom: 10px;">3. Add menu item</div>
			
			-->
			<div class="card border-primary mb-3" style="width: 33%; padding: 0px; margin-bottom: 20px; padding-bottom: 20px">
				<form action="" method="post">
					{% csrf_token %}
					<div class="card-header" style="margin-bottom: 10px;">5. Change table</div>
					<table>
						<tr>
							<th>
								<label for="id_oldOrder">Order Number:</label>
							</th>
							<td>
								<input type="number" name="oldOrder" required id="id_oldOrder" />
							</td>
						</tr>
						<tr>
							<th>
								<label for="id_newTable">New table:</label>
							</th>
							<td>
								<input type="text" name="newTable" maxlength="60" required id="id_newTable" />
							</td>
						</tr>
					</table>
					<input type="submit" name="adjustTableSubmit" value="Submit">
				</form>
			</div>
			<div class="card border-primary mb-3" style="width: 33%; padding: 0px; margin-bottom: 20px; padding-bottom: 20px">
				<form action="" method="post">
					{% csrf_token %}
					<div class="card-header" style="margin-bottom: 10px;">6. Remove Food From Order</div>
					<table>
						<tr>
							<th>
								<label for="blah6">Food ID Number:</label>
							</th>
							<td>
								<input type="number" name="changeOrder">
							</td>
						</tr>
					</table>
					<input type="submit" name="removeFoodSubmit" value="Submit">

					<!--<div class="card border-primary mb-3" style="width: 33%; padding: 0px;">
				<form action="" method="post">
					{% csrf_token %}
					<div class="card-header" style="margin-bottom: 10px;">1. Change Order Price</div>
					<table>
						<tr>
							<th><label for="id_badOrder">Order (Use Order Number): </label></th>
							<th><label for="id_newPrice">New price: </label></th>
						</tr>
						<tr>
							<td><input type="number" name="badOrder" id="id_badOrder" required /></td>
							<td><input type="number" name="newPrice" id="id_newPrice" required step="any" /></td>
						</tr>
					</table>
					<input type="submit" name="adjustPriceSubmit" value="Submit">
				</form>
				</div>
				-->


					<!-- this should probably just kick to menu with pre-populated fields -->
			</div>
		</div>



		{% endblock central-content %} {% block footer %}
		<footer>
			<h1>Code by Chaosreader and Froggy</h1>
		</footer>
		{% endblock footer %}