{% extends "./base.html" %} {% block page-title %}Virtual Waitress Menu{% endblock page-title %} {% block page-style %} 
{{ block.super }}
<style>
    .flexBox {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .left {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: left;
    }

    .right {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: left;
        width: 95%;
        padding: 5px;
        margin: 2px;
        border: solid black;
    }

    .foodMenu {
        width: 95%;
        padding: 5px;
        margin: 2px;
        border: solid black;
    }

    .Review {}

    #menu_bottom {
        flex: 1;
        display: inline;
        flex-direction: row;
    }
</style>
{% endblock page-style %} {% block register-on-load-scripts %}
<script>
    window.onload = function () {
        addMikesMenu();
        addMikesReviews();
        addOrderNumber();
        addMenuToForm();
        //addListenerQty();
    }
</script> {% endblock register-on-load-scripts %} {% block head-script %}
<script>

    // doing some console logging
    var menu = JSON.parse('{{ comboItemsMenu|escapejs }}');
    var order = JSON.parse('{{ orderList|escapejs }}');
    if (order.length > 0) {
        var nextOrder = order[order.length - 1].id + 1;
    }
    else {
        nextOrder = 1;
    }
    console.log(menu[0].menuItem);
    console.log(menu);
    
    //console.log(order[0].id);
    //console.log(order.length);
    //console.log(order[order.length - 1].id);
    //console.log(nextOrder);
    // these are variables to read in
    var primaryCard = "card text-white bg-primary mb-3";
    var sizeMenu = menu.length;
    var itemArray = [];
    var sizeReview = 5;

    var comboReview = [['Cheeseburger', 'Not enough cheese but the bun was great.'], ['Burger', 'Juciest friggin thing evar'],
    ['fries', 'In and out eat your heart out'], ['float', 'Whatever "floats" your boat'],
    ['Burger', 'I\'ve had better']];
    // these are functions to build the dom

    function addOrderNumber() {
        document.getElementById("id_order-orderNumber").value = nextOrder;
    }

    function addMenuToForm() {
        for (var i = 0; i < sizeMenu; i++) {
            var temp = i + 1;
            document.getElementById("id_orderItem-food" + temp).value = menu[i].menuItem;
        }
    }

    // This function does not work but can be completed to add functionality to the form
    //function addListenerQty() {
    //    for (var i = 0; i < sizeMenu; i++) {
    //        var temp = i + 1;
    //        document.getElementById("id_orderItem-qty" + temp).addEventListener("input", addSubotal);
    //    }
    //}

    //modify class and id names to get yeti to format reviews here
    function addMikesReviews() {
        var top = document.getElementById("reviews");
        for (var i = 0; i < sizeReview; i++) {
            tempA = document.createElement("TR");
            tempB = document.createElement("TH");
            tempB.innerHTML = comboReview[i][0];
            tempC = document.createElement("TD");
            tempC.innerHTML = comboReview[i][1];
            top.appendChild(tempA);
            tempA.appendChild(tempB);
            tempA.appendChild(tempC);
        }
    }

    //modify class and id names to get yeti to format menu items here
    function addMikesMenu() {
        var top = document.getElementById("menu_left");
        for (var i = 0; i < sizeMenu; i++) {
            itemArray.push(menu[i].menuPrice);
            tempA = document.createElement("DIV");
            tempA.className = primaryCard;
            tempA.style = "max-width: 98%; min-width: 98%;";
            tempB = document.createElement("DIV");
            tempB.className = "card-header";
            tempB.innerHTML = menu[i].menuItem;
            tempDiv = document.createElement("DIV");
            tempDiv.className = "card-body";
            tempC = document.createElement("P");
            tempC.className = "card-text";
            tempC.innerHTML = "Description: " + menu[i].menuDescription;
            tempD = document.createElement("P");
            tempD.className = "card-text";
            tempD.innerHTML = "Price: $" + menu[i].menuPrice;
            tempE = document.createElement("FORM");
            temp7total = document.createElement("INPUT");
            temp7total.type = "text";
            temp7total.readOnly = true;
            temp7total.value = 0.00;
            temp7total.id = "subtotal" + i;
            temp7 = document.createElement("INPUT");
            temp7.type = "number";
            temp7.value = 0;
            temp7.id = "quantity" + i;
            temp7.addEventListener("input", addSubotal);
            temp7b = document.createElement("INPUT");
            temp7b.type = "text";
            temp7b.id = "note" + i;
            temp7b.placeholder = "Special Requests";
            temp7b.onkeyup = function() {updateNote()};
            top.appendChild(tempA);
            tempA.appendChild(tempB);
            tempA.appendChild(tempDiv);
            tempDiv.appendChild(tempC);
            tempDiv.appendChild(tempD);
            tempDiv.appendChild(tempE);
            tempE.appendChild(temp7);
            tempE.appendChild(temp7total);
            tempE.appendChild(temp7b);
        }
    }

    function addSubotal() {
        var total = 0;
        for (var i = 0, j = 1; i < itemArray.length; i++, j++) {
            document.getElementById("subtotal" + i).value = document.getElementById("quantity" + i).value * itemArray[i];
            total = total + document.getElementById("quantity" + i).value * itemArray[i];
            document.getElementById("id_orderItem-qty" + j).value = document.getElementById("quantity" + i).value;
        }
        document.getElementById("id_order-total").value = total;
    }
    
    function updateNote() {
        for (var i = 0, j = 1; i < itemArray.length; i++, j++) {
            if (document.getElementById("note" + i).value != "") {
                document.getElementById("id_orderItem-note" + j).value = document.getElementById("note" + i).value;
            }
            else {
                document.getElementById("id_orderItem-note" + j).value = "None";
            }
        }
    }

    function addTotal() {
        var total = 0.00;
        for (var i = 0; i < menu.length; i++) {

        }

        alert(document.getElementById("myInput"));
    }

</script> {% endblock head-script %} {% block central-content %}
<div class=flexBox>
    <div class=left id="menu_left">
    </div>
    <div class=right id="menu_right">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Menu Item</th>
                    <td>Customer Review</td>
                </tr>
            </thead>
            <tbody id="reviews">

            </tbody>
        </table>
    </div>
</div>

<div>
    <br />
    <form action="" method="post">
        {% csrf_token %}
        <tr>
            <th>
                <label for="id_order-total">Total:</label>
            </th>
            <td>
                <input type="number" name="order-total" step="any" required id="id_order-total" />
            </td>
        </tr>
        <tr>
            <th>
                <label for="id_order-orderNumber">Order Number:</label>
            </th>
            <td>
                <input type="number" name="order-orderNumber" required id="id_order-orderNumber" />
            </td>
        </tr>
        <tr>
            <th>
                <label for="id_order-table">Table:</label>
            </th>
            <td>
                <input type="text" name="order-table" required id="id_order-table" value="Counter" />
            </td>
        </tr>
        <br /><br />
        <tr>
            <th>
                <label for="id_orderItem-food1">Food1:</label>
            </th>
            <td>
                <input type="text" name="orderItem-food1" id="id_orderItem-food1" value="empty" />
            </td>
        </tr>
        <tr>
            <th>
                <label for="id_orderItem-qty1">Qty1:</label>
            </th>
            <td>
                <input type="number" name="orderItem-qty1" required id="id_orderItem-qty1" value=0 />
            </td>
        </tr>
        <tr>
            <th>
                <label for="id_orderItem-note1">Note1:</label>
            </th>
            <td>
                <input type="text" name="orderItem-note1" required id="id_orderItem-note1" value="None" />
            </td>
        </tr><br />
        <tr><th><label for="id_orderItem-food2">Food2:</label></th><td><input type="text" name="orderItem-food2" required id="id_orderItem-food2" value="empty" /></td></tr>
        <tr><th><label for="id_orderItem-qty2">Qty2:</label></th><td><input type="number" name="orderItem-qty2" required id="id_orderItem-qty2" value=0 /></td></tr>
        <tr><th><label for="id_orderItem-note2">Note2:</label></th><td><input type="text" name="orderItem-note2" id="id_orderItem-note2" value="None" /></td></tr><br />
        <tr><th><label for="id_orderItem-food3">Food3:</label></th><td><input type="text" name="orderItem-food3" required id="id_orderItem-food3" value="empty" /></td></tr>
        <tr><th><label for="id_orderItem-qty3">Qty3:</label></th><td><input type="number" name="orderItem-qty3" required id="id_orderItem-qty3" value=0 /></td></tr>
        <tr><th><label for="id_orderItem-note3">Note3:</label></th><td><input type="text" name="orderItem-note3" id="id_orderItem-note3" value="None" /></td></tr><br />
        <tr><th><label for="id_orderItem-food4">Food4:</label></th><td><input type="text" name="orderItem-food4" required id="id_orderItem-food4" value="empty" /></td></tr>
        <tr><th><label for="id_orderItem-qty4">Qty4:</label></th><td><input type="number" name="orderItem-qty4" required id="id_orderItem-qty4" value=0 /></td></tr>
        <tr><th><label for="id_orderItem-note4">Note4:</label></th><td><input type="text" name="orderItem-note4" id="id_orderItem-note4" value="None" /></td></tr><br />
        <tr><th><label for="id_orderItem-food5">Food5:</label></th><td><input type="text" name="orderItem-food5" required id="id_orderItem-food5" value="empty" /></td></tr>
        <tr><th><label for="id_orderItem-qty5">Qty5:</label></th><td><input type="number" name="orderItem-qty5" required id="id_orderItem-qty5" value=0 /></td></tr>
        <tr><th><label for="id_orderItem-note5">Note5:</label></th><td><input type="text" name="orderItem-note5" id="id_orderItem-note5" value="None" /></td></tr>
        <input name="placeTestOrder" type="submit" value="Order Now"></input>
    </form>
</div>
{% endblock central-content %}